page-home {
    #danger{
        background-color: red;
        padding:10px;
    }
    #danger-txt{
        padding:10px
    }
    #danger-title{
        color:white;
        font-weight: bold;

    }
}
